<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAC1EFbprH6tpDIGINj7lnzsvyhAfRJ2bs</string>
	<key>GCM_SENDER_ID</key>
	<string>43828788867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.remiderapp</string>
	<key>PROJECT_ID</key>
	<string>fluttertodo-caa00</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertodo-caa00.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43828788867:ios:9b308b2a4019cf3f4765b6</string>
</dict>
</plist>